{% import _self as self %}


{{ self.render_select(select) }}


{% macro render_select(element) %}

    <select name="{{ element.name }}" id="{{ element.id }}" class="{{ element.classes }}">
        <option value="">{{ element.default }}</option>
        {% for option_value, option_title in element.select_options %}

            <option value="{{ option_value }}" {{ option_value == element.value ? 'selected' : '' }}>{{ option_title }}</option>

        {% endfor %}
    </select>

{% endmacro render_select %}