<div class="wrap">
    <h1>{{ title }}</h1>

    {{ settings_errors() }}

    <form action="options.php" method="post">

        {% if description is not empty %}
            <p>{{ description }}</p>
        {% endif %}

        {% if tabs is not empty %}

            {% for tab in tabs %}
                {{ settings_fields(fields) }}
                {{ do_settings_sections(sections) }}
                {{ submit_button() }}
            {% endfor %}

        {% else %}

            {% for field_group in field_groups %}
                {{ settings_fields(field_group) }}
            {% endfor %}

            {{ do_settings_sections(page) }}
            {{ submit_button() }}

        {% endif %}

    </form>
</div>
