<div class="wrap">
  <h1>{{ title }}</h1>

  {{ settings_errors() }}

  <form action="options.php" method="post">

    {# ourput hidden controls that enable saving options #}
    {% for field_group in field_groups %}
      {{ settings_fields(field_group) }}
    {% endfor %}

    {# output description #}
    {% if description is not empty %}
      <p>{{ description }}</p>
    {% endif %}

    {% if tabs is not empty %}

      {% for tab in tabs %}
        {{ do_settings_sections(tab.sections) }}
        {{ submit_button() }}
      {% endfor %}

    {% else %}

      {{ do_settings_sections(page) }}
      {{ submit_button() }}

    {% endif %}

  </form>
</div>