{# {{ dump('fields') }} #}
<div class="backalley-wrap">
  <br>
  <div class="row mx-0">

    {% if label is not null %}
    <div class="col-2 pl-0">
      <label class="" for="{{ field.getId() }}">{{ label }}</label>
    </div>
    {% endif %}

    <div class="col">
      {{ field }}
    </div>

    {% if submit_button is not null %}
    <div class="col-1">
      {% set btn = submit_button %}
      {{ submit_button(btn.text, btn.type, btn.name, btn.wrap, btn.other_attributes) }}
    </div>
    {% endif %}

  </div>
  <br>
</div>