<div class="leonidas-wrap">
  <div class="row py-{{ row_padding }}">

    {% if label is not null %}
    <div class="col-{{ root_width }}">
      <label class="" for="{{ field.getId() }}">{{ label }}</label>
    </div>
    {% endif %}

    <div class="col">
      {{ field }}
    </div>

    {% if submit_button is not null %}
    <div class="col-1">
      {% set btn = submit_button %}
      {{ submit_button(btn.text, btn.type, btn.name, btn.wrap, btn.attributes) }}
    </div>
    {% endif %}

  </div>
</div>