<div leonidas-base>
  <div class="row pb-3">
    <div class="col-{{ row_root_width }}"></div>

    {% for slug, options in columns %}
      <div class="col{{ col_width }}">{{ options.label }}</div>
    {% endfor %}

  </div>

  {% for row, label in rows %}
    <div class="row py-{{ row_padding }}">
      <div class="col-2">{{ label }}</div>

      {% for col, info in columns %}
        <div class="col{{ col_width }}">{{ map[row][col] }}</div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
