{% import _self as self %}


{{ self.render_input_list(list) }}


{% macro render_input_list(list) %}
    {% from "define_render_input.twig" import define_render_input %}
    {# {{ dump(list) }} #}

    <div class="{{ list.container_classes }}">
        <ul class="{{ list.ul_classes }}">

            {% for list_item in list.list_items %}
                {# {{ dump(list_item) }} #}

                <li class="{{ list_item.li_classes }}">
                    {% for input in list_item %}

                        {{ define_render_input(input) }}

                        {% if input.input_type == 'checkbox' %}
                            <label for="{{ input.id }}" class="{{ input.label_classes }}">{{ input.label }}</label>
                        {% endif %}

                    {% endfor %}
                </li>

            {% endfor %}

        </ul>
    </div>

{% endmacro render_input_list %}